:host {
  position: fixed;
  display: block;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.container {
  height: 100px;
  justify-content: center;

  /deep/ md-toolbar-row {
    justify-content: space-between;
  }
}

.controls {
  display: flex;
  flex-direction: column;
  flex: 2;
  align-items: center;
}

.volume,
.info {
  flex: 1;
  display: flex;
}

.volume {
  justify-content: flex-end;
}

.buttons {
  flex: 1;
  display: flex;

  .button {
    transform: scale(.8);
    margin-right: 8px;

    &:last-of-type {
      margin-right: 0;
    }
  }

  .play-button,
  .pause-button {
    transform: scale(.9);
    border: 2px solid #fff;

    &:hover {
      transform: scale(1);
    }
  }
}

.button {
  opacity: .5;
  transition: all .15s ease-in-out;

  &:hover {
    opacity: 1;
  }
}

.button.active {
  opacity: 1;
}

.time {
  width: 100%;
  display: flex;
}

.time-slider {
  flex: 1;
  margin-left: 10px;
  margin-right: 10px;
}

.current-time,
.end-time {
  display: inline-block;
  line-height: 48px;
  font-size: .7em;
  opacity: .5;
}
