:host {
  position: fixed;
  display: block;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.container {
  height: 100px;
  justify-content: center;
}

.controls {
  display: flex;
  flex-direction: column;
  flex: 2;
  align-items: center;
}

.volume,
.info {
  flex: 1;
  display: flex;
}

.info {
  height: 100%;
  padding-right: 16px;
}

.volume {
  padding-left: 16px;
  justify-content: flex-end;
  align-items: center;
}

.control-buttons {
  flex: 1;
}

.time {
  width: 100%;
  display: flex;
}

.spotify {
  position: absolute;
  right: 10px;
  bottom: 5px;
  font-size: 10px;
}
