<md-toolbar class="container">
  <spot-player-info class="info"></spot-player-info>

  <section class="controls">
    <spot-player-control
      [paused]="paused"
      [(repeated)]="repeated"
      [(shuffled)]="shuffled"
      (play)="play()"
      (pause)="pause()"
      (prev)="prev()"
      (next)="next()"
    ></spot-player-control>

    <spot-player-time
      class="time"
      [currentTimeMS]="currentTimeMS"
      [durationMS]="durationMS"
      (seek)="seek($event)"
    ></spot-player-time>
  </section>

  <spot-player-volume
    class="volume"
    [(volume)]="volume"
    (mute)="toggleMute()"
  ></spot-player-volume>
</md-toolbar>

<audio
  #audio
  [src]="src"
  [loop]="repeated"
  [volume]="volume"
  (playing)="onPlaying()"
  (pause)="onPause()"
  (loadedmetadata)="onLoadedMetadata()"
  (timeupdate)="onTimeUpdate()"
  (ended)="onEnded()"
  autoplay
></audio>
