<md-toolbar class="container">
  <section class="info">
    Some info here
  </section>

  <section class="controls">
    <section class="buttons">
      <button md-icon-button mdTooltip="Enable shuffle" [mdTooltipShowDelay]="700" class="button">
        <md-icon>shuffle</md-icon>
      </button>
      <button md-icon-button mdTooltip="Previous" [mdTooltipShowDelay]="700" class="button">
        <md-icon>skip_previous</md-icon>
      </button>
      <button md-icon-button mdTooltip="Play" [mdTooltipShowDelay]="700" class="play-button button">
        <md-icon>play_circle_outline</md-icon>
      </button>
      <button md-icon-button mdTooltip="Next" [mdTooltipShowDelay]="700" class="button">
        <md-icon>skip_next</md-icon>
      </button>
      <button md-icon-button mdTooltip="Repeat" [mdTooltipShowDelay]="700" class="button">
        <md-icon>repeat</md-icon>
      </button>
    </section>

    <section class="time">
      <span class="current-time">0:00</span>
      <md-slider class="time-slider" [step]="0.1"></md-slider>
      <span class="end-time">3:14</span>
    </section>
  </section>

  <section class="volume">
    <button md-icon-button class="button">
      <md-icon>volume_up</md-icon>
    </button>
    <md-slider></md-slider>
  </section>
</md-toolbar>
