.light,
a:link,
a:visited {
  color: #fff;
  opacity: .7;
  text-decoration: none;
}

a:hover,
a:active {
  opacity: 1;
}

.track-artist:after {
  content: " \2027 ";
}

.albums,
.artists {
  display: flex;
  flex-flow: row wrap;
}

.album,
.artist {
  flex: 0 0 200px;
}

.artist-image {
  border-radius: 50%;
}

.artist-image,
.album-image {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.album-name,
.artist-name {
  color: #fff;
  text-align: center;
}

.album-artists {
  text-align: center;
}
