.info {
  min-height: 300px;
  position: relative;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.background {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -220px; /* put background underneath sidenav */
  right: 0;
  z-index: -1;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: blur(3px);

  &:after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      rgba(#303030, .3),
      rgba(#303030, .65) 60%,
      rgba(#303030, 1)
    );
  }
}

.detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 8px;
}

.name {
  font-size: 3em;
  line-height: 1.6;
  font-weight: 700;
  text-align: center;
  overflow-wrap: break-word;
  max-width: 100%;
}

.follower {
  font-size: .8em;
  letter-spacing: 3px;
  text-align: center;
}

.subheading {
  text-align: center;
  color: #fff;
  font-size: 2em;
  line-height: 1.5;
}

.subsection:nth-child(2n + 3) {
  background: rgba(0, 0, 0, .1);
}

.latest-album-image {
  margin-left: 40px;
  margin-right: 30px;
}

.latest-name {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.latest a {
  opacity: 1;
}

@media (max-width: 768px) {
  .name {
    font-size: 2em;
  }
}
