<div class="image-wrapper">
  <img
    class="image"
    [crossOrigin]="'anonymous'"
    [src]="album.images[0]?.url"
    [alt]="album.name"
    [routerLink]="['/album', album.id]"
    (load)="onLoad()"
    #image
  >

  <div class="overlay">
    <button md-icon-button class="play" (click)="play()">
      <md-icon>play_arrow</md-icon>
    </button>
  </div>
</div>

<a class="name app-font" [routerLink]="['/album', album.id]">
  {{album.name}}
</a>

<h6 class="artists app-font">
  <span class="light">By </span>
  <a
    *ngFor="let artist of album.artists"
    class="artist"
    [routerLink]="['/artist', artist.id]"
  >{{artist.name}}</a>
</h6>
