<section class="container" *ngIf="currentStatus|async as status">
  <img
    class="image"
    [src]="status.track.album.images[0]?.url"
    [alt]="status.track.album.name"
    [routerLink]="['/', status.context.type, status.context.id]"
  >

  <section class="info">
    <a [routerLink]="['/album', status.track.album.id]" class="album">
      {{status.track.name}}
    </a>

    <section class="artists">
      <a
        *ngFor="let artist of status.track.artists"
        class="artist"
        [routerLink]="['/artist', artist.id]"
      >{{artist.name}}</a>
    </section>
  </section>
</section>
