.container {
  display: flex;
}

.image {
  height: 64px;
  width: 64px;
  margin-right: 16px;
  cursor: pointer;
  background-image: url("../../../../assets/placeholder-album.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
}

.info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;;
}

.artist:after {
  content: ", ";
}

.artist:last-child:after {
  display: none;
}

.album,
.artist {
  font-size: .6em;

  &:hover {
    opacity: 1;
    text-decoration: underline;
  }
}

.album {
  opacity: 1;
}
