.container {
  display: flex;
  position: relative;
}

.image {
  height: 64px;
  width: 64px;
  margin-right: 16px;
  cursor: pointer;
  background-image: url("../../../../assets/placeholder-album.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
}

.info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;;
  height: 100%;
}

.artist:after {
  content: ", ";
}

.artist:last-child:after {
  display: none;
}

.album,
.artist {
  font-size: .6em;

  &:hover {
    opacity: 1;
    text-decoration: underline;
  }
}

.album {
  opacity: 1;
}

@media (max-width: 700px) {
  .info {
    display: none;
  }

  :host(:hover) .info {
    display: block;
    position: absolute;
    left: 0;
    top: -56px;
    background: rgba(#212121, .5);
  }
}
