.pause,
.play {
  display: block;
  color: #fff;
  border-radius: 18px;
  letter-spacing: 3px;
  opacity: .9;

  &:not([disabled]):hover {
    opacity: 1;
    transform: scale(1.05);
  }

  &:not([disabled]):active {
    opacity: 1;
    transform: scale(.95);
  }

  &[disabled] {
    cursor: not-allowed;
  }
}
