<ng-container *ngIf="album | async as albumData">
  <section class="metadata clearfix">
    <spot-simple-album
      [album]="albumData"
      [isPlayable]="true"
      class="album"
      (dominantColor)="updateBackground($event)"
      [emitColor]="true"
    ></spot-simple-album>

    <span class="count app-font">
      {{albumData.tracks.items.length}} SONGS
    </span>

    <button
      md-raised-button
      color="primary"
      class="play round-ripple"
      [disabled]="!(playable|async)"
      (click)="play(albumData)"
    >PLAY</button>
  </section>

  <spot-track-result
    [tracks]="albumData.tracks.items"
    [album]="albumData"
    class="tracks"
  >
  </spot-track-result>

  <h6
    class="copyright light app-font"
    *ngFor="let copyright of albumData.copyrights"
  >{{copyright.text|spotCopyright}}</h6>
</ng-container>
