:host {
  display: block;
  padding-bottom: 30px;
  background-attachment: fixed;
  position: relative;
  min-height: calc(100vh - 100px);
}

/* put the background underneath the sidenav */
:host:before {
  content: "";
  position: absolute;
  left: -220px;
  width: 220px;
  height: 100%;
  background: inherit;
  z-index: -1;
}

.metadata {
  padding: 32px;
  border-bottom: 1px solid rgba(#fff, .2);
}

.count {
  margin-top: 20px;
  margin-bottom: 20px;
  color: #fff;
  letter-spacing: 2px;
  font-size: .8em;
  opacity: .7;
  font-weight: 100;
  display: block;
  white-space: nowrap;
}

.tracks {
  margin-top: 16px;
  margin-right: 16px;
}

.copyright {
  color: #fff;
  text-align: center;
  font-size: .8em;

  &:first-of-type {
    margin-top: 30px;
  }
}

@media (max-width: 768px) {
  .album {
    width: 150px;
    display: inline-block;
    float: left;
    margin-right: 20px;
    position: relative;

    /deep/ .artists,
    /deep/ .name {
      position: absolute;
      display: inline-block;
      right: -20px;
      transform: translateX(100%);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: calc(100vw - 242px);
      text-align: left;
      z-index: 1;

      &:hover {
        background-color: #303030;
        color: #fff;
        font-weight: 700;
        white-space: initial;
      }
    }

    /deep/ .name {
      top: -5px;
    }

    /deep/ .artists {
      top: 30px;
    }
  }

  .count {
    margin-top: 60px;
  }

  .metadata {
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media (min-width: 769px) {
  .metadata {
    display: inline-block;
    width: 35%;
    vertical-align: top;
    border-bottom: none;
  }

  .tracks {
    display: inline-block;
    width: calc(65% - 16px);
  }

  .count {
    text-align: center;
  }

  .pause,
  .play {
    margin: auto;
  }
}
