.artist:after {
  content: " \2027 ";
}

.artist:last-child:after {
  display: none;
}

.play-button {
  display: none;
  text-align: left;
}

.play-icon {
  font-size: 40px;
}

.track {
  transition: background-color .15s ease-in-out;
}

:host(:hover) {
  .track {
    background-color: rgba(0, 0, 0, .3);
  }

  .index {
    display: none;
  }

  .play-button {
    display: inline-block;
  }
}

.list-icon[md-list-icon] {
  width: 60px;
  height: 40px;
  text-align: right;
}
