<md-list-item class="track" [class.playable]="track.preview_url">
  <div md-list-icon class="list-icon">
    <span class="light index">{{idx}}.</span>
    <button md-icon-button class="play-button" (click)="onPlay()">
      <md-icon class="play-icon">play_arrow</md-icon>
    </button>
  </div>

  <h3 md-line [class.light]="!track.preview_url">{{track.name}}</h3>

  <h6 md-line>
    <a
      *ngFor="let artist of track.artists"
      [routerLink]="['/artist', artist.id]"
      class="artist"
    >{{artist.name}}</a>
    <a *ngIf="track.album" [routerLink]="['/album', track.album.id]">
      {{track.album.name}}
    </a>
  </h6>

  <span class="light">{{track.duration_ms|spotMSToString}}</span>
</md-list-item>
