$sliding-time: .175s;
$sliding-easing: cubic-bezier(.4, 0, .2, 1);

:host {
  position: fixed;
  top: 0;
  left: 0;
  width: 220px;
  bottom: 100px;
  z-index: 10;
  background: rgba(0, 0, 0, .3);
  transition: width $sliding-time $sliding-easing;
}

.sidenav {
  padding: 24px;
  width: 100%;
  height: 100%;
  display: block;
}

.search {
  display: flex;
  justify-content: space-between;
  line-height: 24px;
  font-weight: 700;
  border-color: rgba(#fff, .5);
  border-style: solid;
  border-width: 1px 0;
  padding: 8px 0;
}

.subheading {
  opacity: .5;
  font-size: .7em;
  letter-spacing: .1em;
  height: 40px;
  line-height: 40px;
  width: 100%;
  display: flex;
  justify-content: space-between;

  span {
    display: inline-block;
    line-height: 40px;
  }
}

.link {
  opacity: 1;
}

.name {
  opacity: .7;
  transition: opacity .15s cubic-bezier(.4, 0, .2, 1);
}

.link:hover .name {
  opacity: 1;
}

.sidenav .link .type {
  opacity: .5;
  text-transform: uppercase;
  font-size: 10px;
  margin-top: 3px;
}

.volume-icon {
  display: none;
  margin-left: 5px;
}

.playing {
  .volume-icon {
    display: inline-block;
  }

  .name {
    opacity: 1;
  }
}

.name,
.collapsable {
  animation: slide-in $sliding-time $sliding-easing;
}

.very-dense .link .name {
  transition: font-size $sliding-time $sliding-easing;
}

@media (max-width: 768px) {
  :host {
    background: rgba(0, 0, 0, .8);
  }

  /* only collapse the sidenav when not hovering */
  :host(:not(:hover)) {
    width: 40px;

    .sidenav {
      padding-left: 8px;
      padding-right: 8px;
    }

    .subheading {
      justify-content: center;
    }

    .sidenav .very-dense .link .collapsable,
    .collapsable {
      display: none;
    }

    .very-dense .link .name {
      font-size: 0;
      text-align: center;

      &::first-letter {
        font-size: 20px;
      }
    }


    .volume-icon {
      margin-left: 0;
    }
  }
}

@keyframes slide-in {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}
